<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="initMethod"
       default-destroy-method="destroyBean">

    <!-- Constructor injection -->
    <bean id="triangle"
          class="com.example.jbrainSpringdemo.Shapes.Triangle">
        <constructor-arg name="type" type="java.lang.String" value="Equilateral" />
        <constructor-arg name="height" type="int" value="20" />
    </bean>

    <!-- Setter injection -->
    <bean id="circle"
          class="com.example.jbrainSpringdemo.Shapes.Circle">
        <property name="radius" value="20" />
    </bean>

    <!-- object injection -->
    <!-- in case the objects (Points) are going to be injected only to other objects (square,triangle,circle etc)
    throughout the program-->
    <bean id="polygon"
          class="com.example.jbrainSpringdemo.Shapes.Polygon" >
        <property name="center" ref="center" />
        <property name="downCenter" ref="centerDown"/>
        <property name="upCenter" ref="centerUp"/>
    </bean>
    <bean id="center" class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="20"/>
        <property name="y" value="20"/>
    </bean>
    <bean id="centerUp" class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="20"/>
        <property name="y" value="40"/>
    </bean>
    <bean id="centerDown" class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="20"/>
        <property name="y" value="0"/>
    </bean>

    <!-- object injection with inner beans-->
    <!-- in case the objects (Points) are going to be injected only to the specific object (square) -->
    <bean id="square"
          class="com.example.jbrainSpringdemo.Shapes.Square">
        <property name="a" >
            <bean class="com.example.jbrainSpringdemo.Shapes.Point">
                <property name="x" value="2"/>
                <property name="y" value="2"/>
            </bean>
        </property>
        <property name="b">
            <bean class="com.example.jbrainSpringdemo.Shapes.Point">
                <property name="x" value="4"/>
                <property name="y" value="2"/>
            </bean>
        </property>
        <property name="c">
            <bean class="com.example.jbrainSpringdemo.Shapes.Point">
                <property name="x" value="4"/>
                <property name="y" value="0"/>
            </bean>
        </property>
        <property name="d">
            <bean class="com.example.jbrainSpringdemo.Shapes.Point">
                <property name="x" value="2"/>
                <property name="y" value="0"/>
            </bean>
        </property>
    </bean>

    <!-- object injection with a list as property -->
    <bean id="rectangle"
          class="com.example.jbrainSpringdemo.Shapes.Rectangle">
        <property name="list">
            <list>
                <ref bean="rectanglePointA"/>
                <ref bean="rectanglePointB"/>
                <ref bean="rectanglePointC"/>
                <ref bean="rectanglePointD"/>
            </list>
        </property>
    </bean>
    <bean id="rectanglePointA" class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="2"/>
        <property name="y" value="4"/>
    </bean>
    <bean id="rectanglePointB" class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="2"/>
        <property name="y" value="8"/>
    </bean>
    <bean id="rectanglePointC" class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="8"/>
        <property name="y" value="8"/>
    </bean>
    <bean id="rectanglePointD" class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="8"/>
        <property name="y" value="4"/>
    </bean>

    <!-- object injection with Autowiring -->
    <bean id="pentagon"
          class="com.example.jbrainSpringdemo.Shapes.Pentagon"
          autowire="byName">
    </bean>
    <bean id="pointA"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="20"/>
        <property name="y" value="40"/>
    </bean>
    <bean id="pointB"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="60"/>
        <property name="y" value="80"/>
    </bean>
    <bean id="pointC"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="100"/>
        <property name="y" value="120"/>
    </bean>
    <bean id="pointD"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="140"/>
        <property name="y" value="160"/>
    </bean>
    <bean id="pointE"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="200"/>
        <property name="y" value="250"/>
    </bean>

    <!-- object injection with ApplicationContextAware -->
    <!-- when we need to define beans inside other beans (inside the depended classes, like the Points called inside
    Hexagon class) -->
    <bean id="hexagon"
          class="com.example.jbrainSpringdemo.Shapes.Hexagon">
        <property name="hexA" ref="hexA"/>
        <property name="hexB" ref="hexB"/>
    </bean>
    <bean id="hexA"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="20"/>
        <property name="y" value="40"/>
    </bean>
    <bean id="hexB"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="60"/>
        <property name="y" value="40"/>
    </bean>
    <bean id="hexC"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="0"/>
        <property name="y" value="60"/>
    </bean>
    <bean id="hexD"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="120"/>
        <property name="y" value="40"/>
    </bean>
    <bean id="hexE"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="50"/>
        <property name="y" value="30"/>
    </bean>
    <bean id="hexF"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="20"/>
        <property name="y" value="60"/>
    </bean>

    <!-- object injection with bean inheritance -->
    <bean id="parentHeptagon"
          class="com.example.jbrainSpringdemo.Shapes.Heptagon">
        <property name="hepA" ref="hepA"/>
        <property name="hepB" ref="hepB"/>
        <property name="hepC" ref="hepC"/>
    </bean>
    <bean id="heptagon1"
          class="com.example.jbrainSpringdemo.Shapes.Heptagon" parent="parentHeptagon">
        <property name="hepD" ref="hepD"/>
        <property name="hepE" ref="hepE"/>
        <property name="hepF" ref="hepF"/>
        <property name="hepG" ref="hepG"/>
    </bean>
    <bean id="heptagon2"
          class="com.example.jbrainSpringdemo.Shapes.Heptagon" parent="parentHeptagon">
        <property name="hepF" ref="hepF"/>
        <property name="hepG" ref="hepG"/>
    </bean>
    <bean id="hepA"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="20"/>
        <property name="y" value="30"/>
    </bean>
    <bean id="hepB"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="20"/>
        <property name="y" value="30"/>
    </bean>
    <bean id="hepC"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="20"/>
        <property name="y" value="30"/>
    </bean>
    <bean id="hepD"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="20"/>
        <property name="y" value="30"/>
    </bean>
    <bean id="hepE"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="20"/>
        <property name="y" value="30"/>
    </bean>
    <bean id="hepF"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="20"/>
        <property name="y" value="30"/>
    </bean>
    <bean id="hepG"
          class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="20"/>
        <property name="y" value="30"/>
    </bean>

    <!-- object injection / bean lifecycle /init-destroy methods (before and after execution)-->
    <bean id="octagon"
          class="com.example.jbrainSpringdemo.Shapes.Octagon"
          init-method="initMethod"
          destroy-method="destroyBean">
        <property name="octA" ref="octA"/>
        <property name="octB" ref="octB"/>
        <property name="octC" ref="octC"/>
        <property name="octD" ref="octD"/>
        <property name="octE" ref="octE"/>
        <property name="octF" ref="octF"/>
        <property name="octG" ref="octG"/>
        <property name="octI" ref="octI"/>
    </bean>
    <bean id="octA" class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="150"/>
        <property name="y" value="320"/>
    </bean>
    <bean id="octB" class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="150"/>
        <property name="y" value="320"/>
    </bean>
    <bean id="octC" class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="150"/>
        <property name="y" value="320"/>
    </bean>
    <bean id="octD" class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="150"/>
        <property name="y" value="320"/>
    </bean>
    <bean id="octE" class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="150"/>
        <property name="y" value="320"/>
    </bean>
    <bean id="octF" class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="150"/>
        <property name="y" value="320"/>
    </bean>
    <bean id="octG" class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="150"/>
        <property name="y" value="320"/>
    </bean>
    <bean id="octI" class="com.example.jbrainSpringdemo.Shapes.Point">
        <property name="x" value="150"/>
        <property name="y" value="320"/>
    </bean>
</beans>
