<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Object injection / BeanPostProcessor class display -->
    <bean id="greece"
          class="com.example.jbrainspringdemo.Countries.Greece" >
        <property name="argos" ref="argos"/>
        <property name="athens" ref="athens"/>
    </bean>
    <bean id="argos"
          class="com.example.jbrainspringdemo.Countries.City">
        <property name="name" value="Argos"/>
    </bean>
    <bean id="athens"
          class="com.example.jbrainspringdemo.Countries.City">
        <property name="name" value="Athens"/>
    </bean>
    <!-- Uncomment the following bean to display BeanPostProcessor class-->
    <!--<bean class="com.example.jbrainspringdemo.DisplayBeanPostProcessor"/>-->

    <!-- Object injection / BeanFactoryPostProcessor class display / Initialising values of Beans through
    city.config file -->
    <bean id="sweden"
          class="com.example.jbrainspringdemo.Countries.Sweden">
        <property name="malmo" ref="malmo"/>
        <property name="lund" ref="lund"/>
        <property name="kalmar" ref="kalmar"/>
    </bean>
    <bean id="malmo"
          class="com.example.jbrainspringdemo.Countries.City">
        <property name="name" value="${malmo.name}"/>
    </bean>
    <bean id="lund"
          class="com.example.jbrainspringdemo.Countries.City">
        <property name="name" value="${lund.name}"/>
    </bean>
    <bean id="kalmar"
          class="com.example.jbrainspringdemo.Countries.City">
        <property name="name" value="Kalmar"/>
    </bean>
    <!-- BeanFactoryPostProcessor initialisation -->
    <bean class="com.example.jbrainspringdemo.DisplayBeanFactoryPostProcessor"/>
    <!-- Loading values for the cityconfig.properties file -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="cityconfig.properties"/>
    </bean>
</beans>